@charset "ISO-8859-1";

body {
	background-color: #cccccc;
}

h1 {
	text-align: center;
	color: blue;
	font-style: italic;
}

table {
	border: 1px solid black;
}

table td {
	border: 1px solid black;
}

table.main-table {
	background-color: #e6e6e6;
	position: relative;
	margin: auto;
	width: 75%;
	border: 1px solid black;
}

table.main-table td {
	border: 1px solid black;
}

table.main-table td.td-side {
	width: 20%;
}

table.main-table td.td-center {
	width: 60%;
}