<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">

	<display-name>ProgettoDB2_WEB</display-name>

	<!-- Da aggiungere per consentire ai file .css di essere trovati -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>

	<!-- *** -->

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>it.polimi.db2.progettodb2.controllers.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<jsp-file>/Login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- *** -->

	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>it.polimi.db2.progettodb2.controllers.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/RegistrationServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Registration</servlet-name>
		<jsp-file>/Registration.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>

	<!-- *** -->

	<servlet>
		<servlet-name>QuestionnaireMarketingServlet</servlet-name>
		<servlet-class>it.polimi.db2.progettodb2.controllers.QuestionnaireMarketingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionnaireMarketingServlet</servlet-name>
		<url-pattern>/QuestionnaireMarketingServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QuestionnaireMarketing</servlet-name>
		<jsp-file>/QuestionnaireMarketing.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuestionnaireMarketing</servlet-name>
		<url-pattern>/QuestionnaireMarketing</url-pattern>
	</servlet-mapping>

	<!-- *** -->

	<servlet>
		<servlet-name>Home</servlet-name>
		<jsp-file>/Home.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>

	<!-- *** -->

	<servlet>
		<servlet-name>StatisticQuestionnaire</servlet-name>
		<jsp-file>/StatisticQuestionnaire.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatisticQuestionnaire</servlet-name>
		<url-pattern>/StatisticQuestionnaire</url-pattern>
	</servlet-mapping>

	<!-- *** -->

	<servlet>
		<servlet-name>GreetingsServlet</servlet-name>
		<servlet-class>it.polimi.db2.progettodb2.controllers.GreetingsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GreetingsServlet</servlet-name>
		<url-pattern>/GreetingsServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Greetings</servlet-name>
		<jsp-file>/Greetings.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Greetings</servlet-name>
		<url-pattern>/Greetings</url-pattern>
	</servlet-mapping>

	<!-- *** -->

	<servlet>
		<servlet-name>LeaderboardServlet</servlet-name>
		<servlet-class>it.polimi.db2.progettodb2.controllers.LeaderboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LeaderboardServlet</servlet-name>
		<url-pattern>/LeaderboardServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Leaderboard</servlet-name>
		<jsp-file>/Leaderboard.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Leaderboard</servlet-name>
		<url-pattern>/Leaderboard</url-pattern>
	</servlet-mapping>

	<!-- *** -->

	<servlet>
		<servlet-name>CreationServlet</servlet-name>
		<servlet-class>it.polimi.db2.progettodb2.controllers.CreationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreationServlet</servlet-name>
		<url-pattern>/CreationServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Creation</servlet-name>
		<jsp-file>/Creation.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Creation</servlet-name>
		<url-pattern>/Creation</url-pattern>
	</servlet-mapping>
	
	<!-- *** -->

	<servlet>
		<servlet-name>CreateProduct</servlet-name>
		<servlet-class>it.polimi.db2.progettodb2.controllers.CreateProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateProduct</servlet-name>
		<url-pattern>/CreateProduct</url-pattern>
	</servlet-mapping>


	<!-- *** -->

	<servlet>
		<servlet-name>CreateQuestion</servlet-name>
		<servlet-class>it.polimi.db2.progettodb2.controllers.CreateQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateQuestion</servlet-name>
		<url-pattern>/CreateQuestion</url-pattern>
	</servlet-mapping>
	
		<!-- *** -->

	<servlet>
		<servlet-name>ModifyProductDate</servlet-name>
		<servlet-class>it.polimi.db2.progettodb2.controllers.ModifyProductDate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyProductDate</servlet-name>
		<url-pattern>/ModifyProductDate</url-pattern>
	</servlet-mapping>
	
<!-- *** -->

	<servlet>
		<servlet-name>AdministrationServlet</servlet-name>
		<servlet-class>it.polimi.db2.progettodb2.controllers.AdministrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdministrationServlet</servlet-name>
		<url-pattern>/AdministrationServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Administration</servlet-name>
		<jsp-file>/Administration.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Administration</servlet-name>
		<url-pattern>/Administration</url-pattern>
	</servlet-mapping>
</web-app>